# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Helpers/Get-SQLConnectionString.ps1
Helpers/Write-SQLQuery.ps1
Helpers/Invoke-SQLTableCheck.ps1
Helpers/Get-WorkgroupMachines.ps1
Helpers/New-SQLTableScript.ps1
Helpers/Read-SQLQuery.ps1
Helpers/Stop-LongRunningJobs.ps1
Packages/002.StandardAudit/Set-WSUS.ps1
*.log

# Test output files not required to be kept
Output/